:root{
    --fundo-banner:linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --font-family:'Poppins', sans-serif;;
}

.banner{
    background: var(--fundo-banner);
    color: white;
    text-align: center;
    font-family: var(--font-family);
    padding: 2.5em;
}

.banner__titulo{
    font-size: 1.1;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    margin: 1em;
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    text-align: center;
}

.banner__pesquisa::placeholder{
    font-family: var(--font-family);
    font-size: 1.1em;
    color: white;
    font-weight: 400;
    background: url(../assets/Pesquisa.svg);
    background-repeat: no-repeat;
    background-position: 5%;
    padding-left: 10%;
}

@media screen and (min-width: 1024px){
    .banner__titulo{
        font-size: 2em;
    }


    .banner__pesquisa{
        width: 50%;
    }

    .banner__pesquisa::placeholder{
        background-position: 20%;
    }
}


@media screen and (min-width: 1728px){
   
   .banner{
        padding: 6em;
   }
   
    .banner__pesquisa{
        width: 30%;
    }
}



